:root {
  --bg-color: #f5f7f9;
  --white: white;
  --primary-color: #6161e8;
  --secondary-color: #224186;
  --text-color: #324063;
  --border-color: #e2e6ec;
  --border-radius: 4px;
  --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  --text-danger: #ee414b;
  --bp-sm: 768px;

  --col-width: 100%;
  --col-2-width: 100%;
  --col-3-width: 100%;
}

@media screen and (min-width: 750px) {
  :root {
    --col-2-width: calc(50% - 5px);
    --col-3-width: calc(33.3333% - 5px);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  font-size: 18px;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

a {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 18px;
  box-shadow: none;
  height: 50px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding-left: 10px;
}

button {
  box-shadow: none;
  border: none;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.col {
  width: var(--col-width);
}

.col-2 {
  width: var(--col-2-width);
}
.col-3 {
  width: var(--col-3-width);
}
