.env
.env.docker
.DS_Store
.idea

.elasticbeanstalk/*
.git
.gitignore
.ebextensions/*# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore